body {
    background-color: black;
}

input {
    background-color: blanchedalmond;
}

.marquee {
    align-items: center;
}

.header {
    color: gold;
    font-family: 'Bungee', cursive;
    height: 11vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 2rem 2rem  2rem 2rem;
    border-style: double;
    border-radius: 10px;
    padding: 0rem 1rem  1rem 1rem;
 }

 .cart {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding-top: .5rem;
 }
img {
    height: 8rem;
    width: 8rem;
    border-color: gold;
    border-style: double;
    border-radius: 10px;
    flex-shrink: 3;
}
.album-covers {
    display: flex;
    flex-direction: row;
    margin: 0rem 5rem 0rem 5rem;
    border-color: gold;
    border-style: double;
    border-radius: 10px;
    padding: 2rem 1rem  1rem 3rem;
    height:auto;
}
.thumbmails {
    flex-direction: column;
    flex-shrink: 3;
}

.footer {
    color: gold;
    height: 6vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 2rem 2rem  2rem 2rem;
    border-style: double;
    border-radius: 10px;
    padding: 0rem 1rem  1rem 1rem;
 }

 .social{
    height: 3rem;
    width: 3rem;
 }

