body {
    background-color: black;
}

.main {
    margin: 1rem 1rem 1rem 1rem;
}

input {
    background-color: blanchedalmond;
}

.header {
    color: gold;
    height: 9vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 2rem 2rem  2rem 2rem;
    border-style: double;
    border-radius: 10px;
    padding: 0rem 1rem  1rem 1rem;
 }

 .cart {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding-top: .5rem;
 }
img {
    height: 10rem;
    width: 10rem;
    border-color: gold;
    border-style: double;
    border-radius: 150px;
    margin: .5rem;
}
.album-covers {
    display: flex;
    flex-direction: row;
    margin: 0rem 5rem 0rem 5rem;
    border-color: gold;
    border-style: double;
    border-radius: 10px;
    padding: 2rem 1rem  1rem 3rem;
    height:60vh;
}
.thumbmails {
    flex-direction: column;
}

.footer {
    color: gold;
    height: 6vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 2rem 2rem  2rem 2rem;
    border-style: double;
    border-radius: 10px;
    padding: 0rem 1rem  1rem 1rem;
 }

 .social{
    height: 3rem;
    width: 3rem;
 }

